<template name="vsTraffic">

  <div class="form-group">
    <div>到达交通</div>
    {{#each remoteTraffic}}
      <label>方式: <b>{{title}}</b></label>
      {{> froalaReactive _onblur=updateMD5 language='zh_cn' inlineMode=false _value=desc}}
    {{/each}}
  </div>

  <div class="form-group">
    <div>当地交通</div>
    {{#each localTraffic}}
      <label>方式: <b>{{title}}</b></label>
      {{> froalaReactive _onblur=updateMD5 language='zh_cn' inlineMode=false _value=desc}}
    {{/each}}
  </div>
</template>