<template name="compare">
  <div class="compare-container">

    <div class="compare-left-navi-container">
      <div class="merge-btn-container">
        <span>合并</span>
      </div>
      <ul class="compare-left-navi list-group">
        <li class="compare-key list-group-item" id='all-key' data-index="all">All</li>
        {{#each keyArray}}
          <li class="compare-key list-group-item" id='{{value}}' data-index="{{index}}">{{zhName}}
            <span class="badge label-danger">?</span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="compare-right-container">
      <div class="compare-right-poi-navi">
        <ul class="poi-navi-ul">
          <li>
            <a href="#" id="all-poi" class="compare-poi-navi">All</a>
          </li>
          {{#each poiIndex}}
            <li>
                <input type="radio" name="select-radio" value="{{index}}">
                <a href="#" id="{{index}}" class="compare-poi-navi" data-pk="{{id}}">{{zhName}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="compare-content-container">
        {{#each cmpElements}}
          <div class="compare-items hidden" data-index="{{belongIndex}}" id="{{keyChain}}">
            {{> stringTpl this}}
          </div>
        {{/each}}
      </div>
    </div>

  </div>

</template>

<template name="compareComfirm">
  <ul class="list-group">
    {{#each pois}}
      <li class="list-group-item" id="{{id}}" data-ns="{{ns}}">
        <input id="{{id}}" type="radio" name="saveTo">
        <label for="" class="label label-success" style="margin-left: 13px">{{zhName}}</label>
        <div class="ui toggle checkbox">
          <input type="checkbox" class="poi-checked-delete" id="{{id}}">
          <label>删除</label>
        </div>
      </li>
    {{/each}}
  </ul>
</template>