<template name="compare">
<!-- table-hover -->
  <table class="table table-bordered table-hover table-vertical-align table-highlight-head">
    <thead>
      <tr>
        <td class="cmp_zhName">名字</td>
        {{#each cmpElements}}
          <td>
            <textarea class="form-control" rows="1" id="" placeholder="无内容">{{zhName}}</textarea>
            <div class="text-center">
              <input name="zhName" type="radio" value="{{_id._str}}" />
            </div>
          </td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="cmp_desc">介绍</td>
        {{#each cmpElements}}
          <td class='active'>
            <textarea class="form-control" rows="5" id="" placeholder="无内容">{{desc}}</textarea>
            <div class="text-center">
              <input name="desc" type="radio" value="{{_id._str}}" />
            </div>
          </td>
        {{/each}}
      </tr>
      <tr>
        <td>地址</td>
        {{#each cmpElements}}
          <td>
            <textarea class="form-control" rows="1" id="" placeholder="无内容">{{address}}</textarea>
            <div class="text-center">
              <input name="address" type="radio" value="{{_id._str}}" />
            </div>
          </td>
        {{/each}}
      </tr>

    </tbody>
  </table>
</template>