<!-- 这个文件中有两个模板：searchTpl 和 searchResult -->
<!-- searchTpl 放在导航栏上 -->
<!-- searchResult 放在导航栏下边，作为搜索结果的载体 -->

<template name="searchTpl">
  <form class="navbar-form navbar-left" role="search">
    <select class="sort-select">
      <option value="Locality" selected>城市</option>
      <option value="ViewSpot">景点</option>
      <option value="Restaurant">美食</option>
      <option value="Shopping">购物</option>
      <option value="Hotel">酒店</option>
    </select>

    <input type="text" id="searchContent" class="input-sm">
    <button class="btn btn-default search-btn">搜索</button>
  </form>
</template>


<!-- 搜索结果的模版 -->
<template name="searchResult">
  <div class="add_to_compare">
    <div class="compare_btn_container">
      {{#if hasCompareItem}}
        <input type="submit" class="btn compare_btn" value="比较">
      {{/if}}
    </div>
    <ul class="add_to_compare_ul"></ul>
  </div>

  <div class="search-result-container">
    <div class="serach-result-desc" style="margin-bottom:13px">
      <label for="" class="label label-info">一共查找到: {{searchResults.length}} 个相关景点</label>
    </div>
    <ul class="list-group">
      {{#each searchResults}}
          <li class="list-group-item">
            <div class="checkbox-container">
              <input type="checkbox" data-id='{{_id._str}}' aria-label="...">
            </div>
            <div class="result-desc-container">
              <a href="/{{collection}}/{{_id._str}}" class="list-group-item searchRes" data-type="{{collection}}" data-id='{{_id._str}}'>
              <label for="" class="label label-success">{{zhName}}</label>
              <span title="{{desc}}">{{descShort}}</span>
            </a>
            </div>
          </li>
      {{/each}}
    </ul>
  </div>

</template>