<template name="forgetPassword">
  <div class="login-content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form">
      <h3 class="">忘记密码 ?</h3>
      <p>输入邮箱找回密码</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-icon left">
            <i class="icon-envelope"></i>
            <input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email" />
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button type="button" id="back-btn" class="btn">
        <i class="m-icon-swapleft"></i> 返回
        </button>
        <button type="submit" class="btn green pull-right">
        提交 <i class="m-icon-swapright m-icon-white"></i>
        </button>
      </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
  </div>
</template>