<template name="login">
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>旅行派</b>CMS</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Please Login</p>
        <form action="." method="post">
          <div class="form-group has-feedback">
            <input name="username" type="text" class="form-control" placeholder="Username"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input id="remenber-me" type="checkbox"> Remember me
                </label>
              </div>
            </div>-->
            <div class="col-xs-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="remember-me"> Remember Me
                </label>
              </div>
            </div>
            <div class="col-xs-4">
              <button type="submit" id="login" class="btn btn-primary btn-block btn-flat">Login</button>
            </div><!-- /.col -->
          </div>
        </form>
        <div>
          <span>
          <a href="{{pathFor 'forgetPassword'}}">Forget Password</a>
          <a href="{{pathFor 'register'}}" class="text-center"  style="float: right">Register</a>
          </span>
        </div>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
  </body>
</template>
