<template name="essayCreate">
	<div class="essay-wrap">
		<div class="essay-meta">
			{{#with title}}
			<div class="essay-title">
				<label>标题*</label>
				<span class="word-count">0</span>/{{limit}}
				<input type="text">
			</div>
			{{/with}}

			{{#with author}}
			<div class="essay-title">
				<label>作者</label>
				<span class="word-count">0</span>/{{limit}}
				<input type="text">
			</div>
			{{/with}}

			<div class="essay-keywords">
				<label>关键字(请用","区分)</label>
				<input type="text">
			</div>

			{{#with abstract}}
			<div class="essay-abstract">
				<label>摘要</label>
				<span class="word-count">0</span>/{{limit}}
				<textarea></textarea>
			</div>
			{{/with}}

			<div class="essay-cover">
				<label>封面图(建议尺寸900*500)</label>
				<input type="file" style="border:none">
			</div>

			<!-- <div class="essay-favicon"></div> -->

			<div class="essay-preview">
				<label>预览</label>
				<div></div>
			</div>

			<button class="essay-submit">提交</button>
		</div>

		<div class="essay-contents">
			<label>正文</label>
			<script id="ueContainer" name="content" type="text/plain" style="height:600px;"></script>
		</div>

	</div>
</template>