<template name="essayCreate">
	<div>
		<script id="ueContainer" name="content" type="text/plain" style="width:1024px;height:500px;">
			
		</script>
		<!-- <textarea rows="20" id="ueContainer" style="width:1000px;"></textarea> -->
	    <!-- 配置文件 -->
	    <!-- <script type="text/javascript" src="ueditor.config.js"></script> -->
	    <!-- 编辑器源码文件 --> 
	    <!-- <script type="text/javascript" src="ueditor.all.js"></script> -->
	    <!-- 实例化编辑器 -->
	    <!-- <script type="text/javascript">
	        var ue = UE.getEditor('ueContainer');
	    </script> -->
	    <!-- <script type="text/javascript" src="http://ueditor.baidu.com/ueditor/ueditor.config.js"></script>
	    <script type="text/javascript" src="http://ueditor.baidu.com/ueditor/ueditor.all.js"></script>
	    <script type="text/javascript" src="http://ueditor.baidu.com/ueditor/lang/zh-cn/zh-cn.js"></script>
	    <script type="text/javascript" src="http://ueditor.baidu.com/ueditor/lang/en/en.js"></script>-->

	    <!-- <script type="text/javascript">
	    	console.log(UE);
	       	var ue = UE.getEditor('ueContainer');
	    </script> -->
	    <button class="ue-submit">提交</button>
	</div>
</template>