.left-navi-container {
    float: left;
    width: 29%;
    margin-right: 8px;
}

.right-info-container {
    float: right;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
}

.up-navi, .down-navi {
    margin: 0px auto;
}

.divider {
    margin: 3px auto;
}

.province-container {
    width: 40%;
    float: left;
}

.city-container {
    width: 60%;
    float: right;
}

.city-info-container .navbar{
  min-height: 43px;
}

.up-navi-btn-ct {
    padding: 0 30px;
}

.submit-btn {
    margin-right: 77px;
    float: right;
}

#submit-info {
    float: right;
    margin-right: 80px;
}

#search-theme {
    margin-left: 600px;
}

.clean-float {
  overflow: auto;
}

span.selected_item {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}

.add_to_compare {
  margin: 10px auto;
}

.abroad span {
  font-size: 16px;
  cursor: pointer;
  background-color: #ccc;
  padding: 3px 5px;
  border-radius: 3px;
}

label.selected-filter {
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 3px;
  margin: 3px 5px;
  padding: 1px 6px;
}