<template name="reviewCity">
  <!-- 左侧导航栏 -->
  <div class="left-navi-container">
    <!-- 国内省份或者国外国家名 -->
    <div class="up-navi">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default china"><a href="/data-review/city/china/" class="up-navi-btn-ct">国内</a></button>
        <button type="button" class="btn btn-default foreign"><a href="/data-review/city/abroad/" class="up-navi-btn-ct">国外</a></button>
      </div>
    </div>
    <div class="divider"></div>

    <div class="down-navi">
      {{#if isAbroad}}
      <!-- 国外 -->
        <ul class="list-group">
          {{#each cities}}
            <li class="city-name list-group-item"  id="{{_id._str}}">{{zhName}}</li>
          {{/each}}
        </ul>
        <!-- <div class="province-container">
        </div> -->
        <!-- 国内城市或者国外城市 -->
        <!-- <div class="city-container">
        </div>  -->
      {{else}}
      <!-- 国内 -->
        <ul class="list-group">
          {{#each cities}}
            <li class="city-name list-group-item" id="{{_id._str}}">{{zhName}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    {{#if nextPath}}
      <a href="{{nextPath}}" class="load-more">加载更多</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>

  <!-- 城市信息审核 -->
  <div class="right-info-container">

    <!-- 导航Tab -->
    <div class="city-info-container">
      <form>
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav nav-tabs">
            <li role="navigation" class="basic-info"><a class="navi-tabs" href="#">基本信息</a></li>
            <li role="navigation" class="traffic"><a class="navi-tabs" href="#">交通</a></li>
            <li role="navigation" class="special"><a class="navi-tabs" href="#">特色</a></li>
            <li role="navigation" class="pic"><a class="navi-tabs" href="#">图片筛选</a></li>
              <!-- 动态改变 label-success -->
            <span class="label label-success">编辑状态</span>
            <botton id="submit-info" class="btn btn-default" type="button">提交信息</botton>
          </ul>
        </nav>

        <!-- use hidden and show to implement tab selections -->
        <div class="infos">
          <div class="basic-info show">{{> cityBasicInfo cityDetails}}</div>
          <div class="traffic hidden">{{> cityTraffic cityDetails}}</div>
          <div class="special hidden">{{> cityCharacteristic cityDetails}}</div>
          <div class="pic hidden"><!-- {{> pictures}} --></div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

</template>