<template name="pictures">
  <div class="picture-zone">
    <label>通过图片网络地址添加图片</label>
    <div class="row">
      <div class="col-lg-8">
        <div class="input-group">
          <input type="text" id="add-pic-url" class="form-control" placeholder="图片地址">
          <span class="input-group-btn">
            <button id="pic-url-textarea" class="btn btn-default" type="button">添加图片</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <!-- 已选图片略缩图 -->
    <label>已选图片</label>
    <div class="selectd-container">
      <div class="seleted-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="seleted-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="seleted-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="seleted-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="seleted-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="seleted-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
    </div>

    <!-- 可选图片 -->
    <label>可选图片</label>
    <div class="pic-for-selection">
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
      <div class="raw-picture-container">
        <img src="http://img3.3lian.com/2013/v8/100/d/101.jpg" width="200" height="200" class="img-rounded">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
</template>