<template name="restTraffic">
  <div class="form-group">
    <div>到达交通</div>
    {{#each remoteTraffic}}
      <label>方式: <b>{{title}}</b></label>
      <textarea class="form-control" rows="5" id="remote-traffic" placeholder="毛驴...">{{desc}}</textarea>
    {{/each}}
  </div>

  <div class="form-group">
    <div>当地交通</div>
    {{#each localTraffic}}
      <label>方式: <b>{{title}}</b></label>
      <textarea class="form-control" rows="5" id="local-traffic" placeholder="毛驴...">{{desc}}</textarea>
    {{/each}}
  </div>
</template>