input#showModified {
  margin-right: 30px;
}

button#reject-info {
  margin-right: 40px;
}

#upload-data{
  margin-right: 80px;
  float: right;
}

.recheck-btns {
  border-bottom: 1px solid #ccc;
  padding: 3px;
  box-shadow: 1px 1px 1px #aaaaaa;
}

.recheck-contents {
  margin: 3px;
}

.recheck-base-wrapper, .recheck-compare-wrapper, .recheck-diff-wrapper{
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  border-top: 1px solid #ccc;
  padding: 3px;
}
.recheck-base-wrapper {
  box-shadow: 1px 1px 23px rgba(71, 221, 164, 0.42);
}
.recheck-compare-wrapper {
  box-shadow: 1px 1px 23px rgba(7, 55, 245, 0.49);
}
.recheck-diff-wrapper {
  box-shadow: 1px 1px 23px rgba(245, 7, 43, 0.49);
}
.label-content {
  width: 100%;
  text-align: center;
  margin: 2px auto;
  border-bottom: 1px solid #ccc;
}

.preview-pic-window{
  position: fixed;
  display: none;
  z-index: 10000;
  left: 300px;
  top: 100px;
}

.preview-pic-shadow{
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
