<template name="compareWrapper">
  {{#if itemData}}
  <!--预览图片-->
  <div class="preview-pic-window"></div>
  <div class="preview-pic-shadow"></div>

	<div class="recheck-right-wrapper">
    <div class="recheck-btns">
      <button id="reject-info" class="btn btn-danger">Reject</button>
      <label for="" class="label label-primary">Show Modified Only:</label>
      <input type="checkbox" id="showModified">
      <button id="edit-pic-btn" class="btn btn-warning">Edit-Pic</button><span style="margin-left:43px"></span>
      <button id="upload-data" class="btn btn-success">Push Online</button>
      <button id="submit-info" class="btn btn-info">Edit&Save</button>
    </div>
    <!--版本信息列表-->
    <div class="release-list">
        <label for="release" class="label label-default">
            版本对比:
        </label>
        <span style="margin:0px 7px;"></span>
        <label for="base" class="label label-default">base</label>
        <select name="base" id="baseRelease">
            <option value="0" selected>Online</option>
            {{#each releaseList}}
                <option value="{{snapshotId}}">{{snapshotId}}</option>
            {{/each}}
        </select>
        <span class="scroll-back glyphicon glyphicon-resize-horizontal"></span>
        <label for="compare" class="label label-default">compare</label>
        <select name="compare" id="compareRelease">
            <option value="0" selected>Review</option>
            {{#each releaseList}}
                <option value="{{snapshotId}}">{{snapshotId}}</option>
            {{/each}}
        </select>
    </div>
    <div class="recheck-contents">
      <div class="recheck-base-wrapper">
        <div class="label-content">
          <label style="color: green">当前数据</label>
        </div>
        {{#each baseData}}
          <div class="form-group">
            <label style="width: 100%; background-color:#009900; color:#fff;" class="text-center">{{zhLabel}}</label>
              {{#if strArray}}
                <span>(请用逗号","分隔)</span>
              {{/if}}
              <textarea class="form-control" name="" id="{{keyChain}}" value="{{value}}" disabled="{{#if notWrite}}disabled{{/if}}"></textarea>
          </div>
        {{/each}}
        <ul class="pic-list">
          <div>
            <label>图片列表</label>
          </div>
          {{#each basePic}}
            <li class="pic-wrap">
              <img src="{{url}}?imageView2/1/w/100/h/100">
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="recheck-compare-wrapper">
        <div class="label-content">
          <label style="color: blue">编辑结果</label>
        </div>
        {{#each compareData}}
          {{> stringTpl this}}
        {{/each}}
        <ul class="pic-list">
          <div>
            <label>图片列表</label>
          </div>
          {{#each comparePic}}
            <li class="pic-wrap">
              <img src="{{url}}?imageView2/1/w/100/h/100">
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="recheck-diff-wrapper">
        <div class="label-content">
          <label style="color: red">对比结果</label>
        </div>
        {{#each diffData}}
          <div class="form-group {{#if isModified}} modified{{/if}}">
            <label style="width: 100%; background-color:#009900; color:#fff;" class="text-center">{{zhLabel}}</label>
            <div class="diff-wrapper copy-form-control">

              {{#each value}}
                <span class="{{diffClass}}">{{diffValue}}</span>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
	</div>
  {{/if}}
</template>