<template name="recheck">
  <div class="recheck-page">
    <div class="recheck-left-wrapper">
      <div class="recheck-filter-wrapper">
        <div class="recheck-filter">
          <label>筛选</label>
          <div class="editor">
            <span>用户:</span>
            {{> aizouTag source=editor}}
          </div>
          <div class="date">
            <span>时间:</span>
            <input type="radio" name="time-filter" value="0"> 不限
            <input type="radio" name="time-filter" value="1"> 一天
            <input type="radio" name="time-filter" value="2"> 一周
          </div>
          <div class="data-type">
            <span>数据类型:</span>
            {{#each collections}}
              <input type="checkbox" value="{{conn}}">{{name}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="recheck-itemlist-wrapper">
        <div class="recheck-itemlist">
          <ul>
            <li class="recheck-items">1</li>
            <li class="recheck-items">2</li>
            <li class="recheck-items">3</li>
            <li class="recheck-items">4</li>
            <li class="recheck-items">5</li>
            <li class="recheck-items">6</li>
            <li class="recheck-items">7</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="recheck-right-wrapper">
      <p class="example">All html in Here</p>
    </div>
  </div>


</template>