.recheck-page {
  width: 100%;
}
.recheck-left-wrapper {
  width: 30%;
  border: solid 1px #ddd;
  float: left;
}

.recheck-right-wrapper {
  width: 69%;
  border: solid 1px #ddd;
  float: right;
}

.recheck-filter-wrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.selected-filter-wrap {
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}

.recheck-itemlist-wrapper {
    padding-top: 5px;
}