<template name="postSubmit">
	<form action="" class="main form">
		<div class="form-group">
			<label for="url" class="control-label">URL</label>
			<div class="controls">
				<input type="text" name="url" id="url" placeholder="Your URL" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="control-label">Title</label>
			<div class="controls">
				<input type="text" value="" placeholder="Name your post" name=
				"title" id="title" class="form-control">
			</div>
		</div>
		<input type="submit" value="Submit" class="btn btn-primary" />
	</form>
</template>