.task-complete-statistics {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    padding: 7px;
    margin: 17px 0;
}

.task-element {
    margin: 7px 0px;
    background-color: #fff;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.task-element:hover {
    background-color: #E8E8E8;
}