<template name="createNewPlan">
    <div class="page-container">
        <!-- POI筛选区域 -->
        <div class="left-poi-select-zoom">
            <!-- 顶部POI选择切换 地图模式 -->
            <div class="left-top-navi-bar">
                {{> citySelection}} {{> poiNavi}}
            </div>
            <!-- 中部筛选 搜索 -->
            <div class="left-middle-filter-tool">
                <div class="poi-filter">
                    {{> poiFilter}}
                </div>
                <div class="poi-search">
                    {{> poiSearch}}
                </div>
            </div>
            <!-- 底部poi展示 分页 -->
            <div class="left-bottom-poi-show">
                {{#each poiItems}}
                <div class="poi-item-container">
                    <a href="" class="poi-item-pic">
                        <img src="http://images.taozilvxing.com/{{picKey}}?imageView2/1/w/100/h/80" width="100" height="80">
                    </a>
                    <div class="poi-item-detail">
                        <header class="poi-item-header">
                            <a href="/{{poiType}}/{{_id._str}}">{{zhName}}</a>
                        </header>
                        <p class="poi-item-desc" title="{{desc}}">{{desc}}</p>
                        <a href="" class="add-poi-to-plan" poi-picKey="{{picKey}}" poi-type="{{poiType}}" poi-id="{{_id._str}}" poi-name="{{zhName}}" title="添加到行程">+</a>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="page-navi-container">
                <div class="col-md-12 text-center ">
                  <ul class="pagination pagination-sm">
                    <li><a href="#" class="fc-pager-first">&lt;&lt;</a></li>
                    {{#each pageNavi}}
                      <li class="{{status}}"><a href="#" class="fc-pager-page" data-fc-pager-page="{{page}}">{{page}}</a></li>
                    {{/each}}
                    <li><a href="#" class="fc-pager-last">&gt;&gt;</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <!-- 游记编辑区域 -->
        <div class="right-plan-edit-zoom">
            <!-- 顶部工具区域 -->
            <div class="right-top-tool-bar">
                <div class="plan-name-edit">
                    <span class="edit-icon glyphicon glyphicon-edit"></span>
                    <input type="text" class="plan-name" placeholder="规划名字" value="{{title}}">
                </div>
                <div class="save-plan">保存</div>
            </div>
            <!-- 顶部规划区域 -->
            <div class="right-bottom-edit-zoom">
                <!-- 左边的天数编辑区域 -->
                <div class="right-left-day-edit-zoom">
                    {{#each planDetail}}
                    <div class="day-navi-element-container" id="day-navi-{{dayIndex}}" day-index="{{dayIndex}}">
                        第{{dayIndex}}天
                        <span class="delete-one-day glyphicon glyphicon-trash hidden"></span>
                    </div>
                    {{/each}}
                    <span class="btn-add-one-day">+</span>
                </div>
                <!-- 右边的POI编辑区域 -->
                <div class="right-right-poi-edit-zoom">
                    {{#with curDayInfo}}
                        <div class="poi-zoom">
                            {{#each pois}}
                                <div class="select-poi-info-container" data-index="{{index}}">
                                    <a href="" class="select-poi-pic">
                                        <img src="http://images.taozilvxing.com/{{picKey}}?imageView2/1/w/60/h/60"  width="60" height="60">
                                    </a>
                                    <div class="select-poi-name">
                                        <a class="" href="/{{type}}/{{id}}">{{name}}</a>
                                        <!-- <span>{{index}}</span> -->
                                        <span class="delete-one-poi glyphicon glyphicon-trash hidden" day-index="{{dayIndex}}" data-id="{{id}}" data-type="{{type}}" data-index="{{index}}"></span>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="tip-container">
                            <div class="show-when-empty {{#unless isEmpty}}hidden{{/unless}}" style="margin: 10px;">
                                <label class="label label-success">请在左侧添加景点、美食、酒店、购物</label>
                            </div>
                            <div class="{{#if isEmpty}}hidden{{/if}}">
                                <span class="tip-edit-icon glyphicon glyphicon-edit"></span>
                                <textarea id="one-day-tips" placeholder="行程亮点或者提示" >{{tips}}
                                </textarea>
                            </div>
                        </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>
