<template name="poiFilter">
  <div class="poi-filter-container">
    <!-- 景点 -->
    <div class="poi-filter filter-viewspot">
      <span class="filter-tag">热门</span>
      <span class="filter-tag">价格</span>
    </div>
    <!-- 美食 -->
    <div class="poi-filter filter-restaurant hidden">
      <span class="filter-tag">热门</span>
      <span class="filter-tag">价格</span>
    </div>
    <!-- 酒店 -->
    <div class="poi-filter filter-Hotel hidden">
      <span class="filter-tag">热门</span>
      <span class="filter-tag">价格</span>
    </div>
    <!-- 购物 -->
    <div class="poi-filter filter-shopping hidden">
      <span class="filter-tag">热门</span>
      <span class="filter-tag">价格</span>
    </div>
    <!-- 交通 -->
    <div class="poi-filter filter-traffic hidden">
      <span class="filter-tag">热门</span>
      <span class="filter-tag">价格</span>
    </div>
  </div>
</template>