<template name="essayEdit">
	<div class="essay-wrap">
		<div class="essay-meta">
			<div class="essay-title">
				<label>标题*</label>
				<span class="word-count">
					{{#if essayDetail.titleCount}}
						{{essayDetail.titleCount}}
					{{else}}
						0
					{{/if}}
				</span>/{{title.limit}}
				<input type="text" value="{{essayDetail.title}}">
			</div>

			<div class="essay-author">
				<label>作者</label>
				<span class="word-count">
					{{#if essayDetail.authorCount}}
						{{essayDetail.authorCount}}
					{{else}}
						0
					{{/if}}
				</span>/{{author.limit}}
				<input type="text" value="{{essayDetail.author}}">
			</div>

			<div class="essay-keywords">
				<label>关键字(请用","区分)</label>
				<input type="text" value={{essayDetail.keywords}}>
			</div>

			<div class="essay-abstract">
				<label>摘要</label>
				<span class="word-count">
					{{#if essayDetail.abstractCount}}
						{{essayDetail.abstractCount}}
					{{else}}
						0
					{{/if}}
				</span>/{{abstract.limit}}
				<textarea value="{{essayDetail.abstract}}"></textarea>
			</div>

			<div class="essay-cover">
				<label>封面图(建议尺寸900*500)</label>
				<form method="post" enctype="multipart/form-data" id="pic-up" name="pic-up">
					<input name="file" type="file" style="border:none" class="essay-cover-file">
				</form>
				<input type="text" value="{{essayDetail.cover}}">
			</div>

			<!-- <div class="essay-favicon"></div> -->

			<div class="essay-preview">
				<div>预览</div>
				<div class="essay-preview-wrap"></div>
			</div>

			{{#with uuid}}
			<button class="essay-submit-btn">保存</button>
			<button class="essay-preview-btn">预览</button>
			<!-- <button class="essay-submit">保存并群发</button> -->
			{{/with}}
		</div>

		<div class="essay-contents">
			<label>正文</label>
			<script id="ueContainer" name="content" type="text/plain" style="height:700px;"></script>
		</div>

	</div>
</template>