<template name="header">
  <nav class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}" style="color: green"><b>爱走-CMS</b></a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          {{#if naviBarConfig}}
            {{#each naviBarConfig}}
              {{#if subItem}}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{name}}
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    {{#each subItem}}
                      {{#if disable}}
                        <li class="{{activeTag}}" route="{{routeName}}" style="cursor:no-drop"><a>{{name}}</a></li>
                      {{else}}
                        <li class="{{activeTag}}" route="{{routeName}}"><a href="{{url}}">{{name}}</a></li>
                      {{/if}}
                    {{/each}}
                  </ul>
                </li>
              {{else}}
                <li class="{{activeTag}}" route="{{routeName}}"><a href="{{url}}">{{name}}</a></li>
              {{/if}}
            {{/each}}
          {{/if}}
          <!-- <li class="{{activeRouteClass 'home' 'newPosts'}}">
            <a href="{{pathFor 'newPosts'}}">最新</a>
          </li>
          <li class="{{activeRouteClass  'bestPosts'}}">
            <a href="{{pathFor 'bestPosts'}}">精品</a>
          </li> -->
          {{#if currentUser}}
            <li class="dropdown">
              {{> notifications}}
            </li>
          {{/if}}

          <!-- 插入搜索信息 -->
          {{> searchTpl}}
        </ul>
        {{#if currentUser}}
          <ul class="nav navbar-nav pull-right" style="float: right;">
            <li class="dropdown">
              <a href="#" class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown">
                {{currentUser.username}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class=""><a href="{{pathFor 'userProfile'}}">个人配置</a></li>
                {{#if admin}}
                  <li class=""><a href="{{pathFor 'admin'}}">用户管理</a></li>
                  <li class=""><a href="{{pathFor 'recheck'}}">复审数据</a></li>
                  <li class=""><a href="{{pathFor 'taskAssgin'}}">任务分配</a></li>
                  <li class=""><a href="{{pathFor 'statistics'}}">任务统计</a></li>
                {{/if}}
                <li class=""><a id="logout">退出</a></li>
              </ul>
            </li>
          </ul>
        {{/if}}


      </div>

    </div>
  </nav>
  
</template>